body {
	color: #000;
	font: 10pt/1.5 Georgia, "Times New Roman", Times, Simsun, "хо?ф╜?", Hei, "AR PL Newsung", serif;
	}
h1 {
	text-align: center;
	font-size: 48pt;
	line-height: 1;
	}
h1 .aka {
	font-size: 10pt;
	font-weight: normal;
	}
h2 {
	font-size: 16pt;
	}
ol, ul {
	list-style-position: outside;
	_margin-left: 2em; /*IE*/
	}
@media all and (min-width: 0px){ /*opera*/
	ol, ul
		{
		margin-left: 3em;
		}
	}
hr, .footer, .tags {
	display: none;
	}
.hresume {
	width: auto;
	margin: auto;
	padding: 1em;
	}
div.summary {
	font-size: 14pt;
	text-align: right;
	}
.education, .experience, .accreditation {
	margin-bottom: 1em;
	}
.education {
	overflow: auto;
	}
.education, .accreditation {
	clear: both;
	}
.education .htitle {
	float: left;
	}
.education .date_duration {
	float: right;
	}
.experience .htitle {
	float: left;
	}
.experience .date_duration {
	float: right;
	}
.experience .description {
	clear: both;
	}
