body {
	border-top: 5px solid #1cacff;
	background: #fff;
	color: #333;
	font: medium/1.2 sans;
	text-align: center;
	}
a {
	color: #1cacff;
	text-decoration: none;
	}
a:visited {
	color: #c71cff;
	}
a:hover {
	text-decoration: underline;
	}
a:active {
	color: #ff1c41;
	}
h1 {
	color: #ffbb1c;
	font-size: x-large;
	}
h1 .apos {
	color: #1cacff;
	}
h1 .aka {
	color: #0f8c12;
	font-size: x-small;
	}
h2 {
	color: #0f8c12;
	font-size: large;
	font-style: italic;
	}
abbr, acronym {
	border-bottom: 1px dashed #1cacff;
	cursor: help;
	}
ol, ul {
	list-style-position: inside;
	}
.hresume {
	width: auto;
	margin: 0 5%;
	text-align: left;
	}
.footer {
	border-top: 1px solid #ccc;
	color: #999;
	font-size: small;
	font-style: italic;
	text-align: right;
	}